<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Removed a Person</title>
  </head>
  <body>
    <% if person %>
      <h1><%= person.name %> was removed</h1>
    <% else %>
      <h1>That person was not found</h1>
    <% end %>
  </body>
</html>
